:root {
    --orange: rgb(255, 77, 0);
}

html {
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #626262 transparent;
}

body {
    font-family: system-ui;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
}

.container {
    text-align: center;
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}

#prompt-input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
}

#prompt-input {
    flex-grow: 1;
    width: auto;
    min-height: 3.5em;
    max-height: 15em;
    padding: 15px;
    margin-top: 4em;
    resize: none;
    font-family: system-ui;
    line-height: 1.4;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    outline: 2px solid #333;
    border-radius: 10px;
    /* Prevent horizontal overflow */
    white-space: pre-wrap;
    word-break: break-word;
}

#prompt-input:focus {
    outline: 2px solid var(--orange);
}

#prompt-input::placeholder {
    font-family: 16px system-ui;
}

button {
    position: relative;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font: 16px system-ui;
}

button:hover {
    background-color: #666;
}

button.active {
    background-color: var(--orange);
    color: var(--orange);
}

.execution-time {
    font-family: monospace;
    color: var(--orange);
    white-space: pre;
    display: block;
    text-align: center;
}

.hidden {
    display: none;
}

/* Style mardown code blocks */
pre {
    padding: 15px;
    background-color: rgb(1 22 39);
    border: 1px solid rgb(0, 42, 76);
    border-radius: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
}

#model-selector {
    flex-shrink: 0;
    width: 12em;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-family: system-ui;
}

#button-group {
    display: flex; gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40vh;
    transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#float-selector {
    flex-shrink: 0;
    width: 10em;
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-family: system-ui;
}

/* Loading button */

#loader, #paperclip {
    position: absolute;
    width: 25px;
    height: 25px;
    perspective: 800px;
}

#loader {
    border-radius: 50%;
    top: 0.6em;
}

#paperclip {
    left: 0.6em;
}

#selectFileBtn {
    color: #555;
}

#selectFileBtn:hover {
    color: #666;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* Chat messages */

#history {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.history-prompt {
    display: inline-block;
    max-width: 100%;
    border-radius: 15px 15px 0 15px;
    padding: .8rem 1.2rem;
    margin: 2.5em 0 0;
    background-color: #2e2e2e;
    overflow-x: auto;
    transition: display 0.3s ease;
    align-self: flex-end;
}

.history-answer {
    color: white;
    align-self: flex-start;
    width: 100%;
}